:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
     sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
     monospace;
}
.app-container {
  width: 90%;
  margin: 0 auto;
}
.responsive-header{
  margin: 0;
  padding: 0;
  font-size: 18px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.box {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  gap: 10px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
body {
  background-color: black;
}
h1 {
  color:#ffffff;
  margin-top: 50px;
  font-family: Helvetica;
  margin-left:20px;

}
.album {
  position: relative;
  transition: filter 0.3s;
}
.album img {
  width: 100%;
}
.container-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
}
.album:hover .container-buttons {
  display: flex;
  visibility:visible;
}
.play-button{
  background: transparent;
  width: 48px;
  height: 48px;
  border: none;
  color:white;
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: transform 0.3s;
  opacity: 0.5;
}
.play-button:hover{
  transform: scale(1.6);
  opacity: 1;
  transition: opacity 0.3s;
}
.favorite-button,
.ellipsis-button {
  background: transparent;
  width: 24px;
  height: 24px;
  border: none;
  color:white;
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.play-button-container {
  position: relative;
  width: 30%;
  height: 30%;
  border-radius: 100%;
  background-color:transparent;
  border: 1px solid white;
  transition: background-color 0.3s;
}
.text {
  margin: auto;
  text-align: center;
  width:100%;
  margin-left: 10px;
}
.album-title {
  font-size:14px ;
  font-family: Helvetica;
  color:#ffffff;
  margin-left: 10px;
}
.artist-name {
  font-size:14px ;
  font-family: Helvetica;
  color:#a0a0a0;
 }
.containerArtists {
  display: flex;
  flex-wrap: wrap;
  justify-content:baseline;
  margin-left:10px;
 }
.artist-image {
  width: 100%;
  height: auto;
}
.item {
  width: 100%;
}
.item p {
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.header {
  flex-basis: calc(25% - 20px);
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Small devices such as phones (640px and up) */
/* @media only screen and (min-width: 640px) {...} */

/* Medium devices such as tablets (768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices such as laptops (1024px and up) */
/* @media only screen and (min-width:1024px) {...} */

/* Largest devices such as desktops (1280px and up) */
/* @media only screen and (min-width: 1280px) {...} */


@media (min-width: 768px) {
  .box {
    flex-basis: calc(100%/3);
    padding: 0 10px;
  }
  .responsive-header {
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  .box {
    flex-basis: calc(100%/4);
    padding: 0 10px;
  }
  .responsive-header {
    font-size: 65px;
  }
}